@use "../fontawesome/fa";

.listbox .scroller {
  flex-grow: 1;
  flex-shrink: 1;
}


li.droptarget>a,
tr.droptarget>td {
  background-color: var(--color-list-droptarget-background);
}

#layout-list {
  border-left: 1px solid var(--color-medium-gray);
  border-right: 1px solid var(--color-medium-gray);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-layout-list-background);
  color: var(--color-layout-list-foreground);

  :any-link {
    text-decoration: none;
    color: inherit;
  }

  a.toolbar-menu-button {
    display: none;
  }

  &>.header {
    position: relative;
    min-height: 2.2rem;

    &>span.header-title,
    &>.back-sidebar-button,
    &>.task-menu-button {
      display: none;
    }

  }

  .messagelist {
    border-top: 1px solid var(--color-medium-gray);
    width: 100%;

    .branch,
    &>thead {
      display: none
    }

    tr {
      margin-top: 50px;

      td {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid var(--color-medium-gray);
        line-height: 1.8;

        &.selection {
          padding-left: 0.75rem;
        }

        &.subject {
          display: grid;
          grid-template: "from date" 1fr "subject subject" 1fr / 1fr min-content;

          .fromto {
            grid-area: from;
            text-wrap: nowrap;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            padding-left: 0.75rem;
          }

          .date {
            grid-area: date;
            text-wrap: nowrap;
            white-space: nowrap;
            padding-right: 0.75rem;
            font-size: 0.8rem;
          }

          .size {
            display: none;
          }

          .subject {
            grid-area: subject;
            text-wrap: nowrap;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            padding-left: 0.75rem;
            font-size: 0.9rem;

            .msgicon.status {
              display: none;
            }
          }
        }
      }

      &.unread {
        border-left: 2px solid var(--color-main);

        td.subject {

          span.fromto,
          span.date {
            font-weight: 600;
          }
        }
      }
    }

    tr.selected td {
      background-color: var(--color-list-selected-background);
    }

    tr.flagged {
      background-image: url("/skins/sooma/images/flagged.svg");
      background-repeat: no-repeat;
      background-position: right top;
    }

    tr:has(span.attachment > span) span.subject::before {
      @include fa.fa-icon();
      content: fa.fa-content(fa.$var-paperclip);
      margin-right: 0.25rem;
    }
  }
}

.listing:not(.withselection) td.selection {
  display: none;
}