@use "css-reset-and-normalize-sass/reset-and-normalize.scss";
@use "fontawesome/fontawesome.scss";
@use "global/variables";
@use "global/colors";
@use "global/typography";

.hidden,
.voice {
  display: none !important;
}

:focus,
:focus-visible {
  outline: 0px none;
  border: 0px none;

}