@use "sass:meta";
@use "fontawesome/fa";
@use "fontawesome/regular" as fa-regular;

html,
body {
  background-color: var(--color-layout-content-background);
}

body {
  visibility: hidden;
}

a {
  color: inherit;

  &:hover,
  &:focus,
  &:focus-within,
  &:focus-visible,
  &:target,
  &:active,
  &:visited,
  &:link {
    color: inherit;
  }
}

.scroller {
  overflow: hidden auto;
}

.task-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  #logo {
    display: none
  }

  &>#layout {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    max-width: 320px;
    border-radius: 4px;
    padding: 36px;
    margin-bottom: 5vh;

    input {
      max-width: calc(320px - 2rem);
    }

    &>h1 {
      display: none
    }
  }

  #login-footer {
    display: none;
  }

  .propform button.mainaction {
    width: 100%;
  }

  p.formbuttons {
    margin-top: 2rem;
  }
}


body:not(.task-login):not(.task-xcalendar) {
  &>#layout {
    --column-width-sidebar: 1fr;
    --column-width-list: 1fr;
    --column-width-content: 1fr;
    display: grid;
    grid-template:
      "menu    menu    menu   " 8rem
      "sidebar list    content" auto / var(--column-width-sidebar) var(--column-width-list) var(--column-width-content);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &:not(:has(#layout-list)) {
      grid-template:
        "menu    menu    menu   " 8rem
        "sidebar content content" auto / var(--column-width-sidebar) var(--column-width-list) var(--column-width-content);

    }

    &>#layout-menu {
      width: 100%;
      height: 100%;
      grid-area: menu;
      display: grid;
      grid-template:
        "logo       taskmenu  " 4.625rem
        "localmenu  localmenu " 1fr / 228px 1fr;
      @include meta.load-css("layout/headermenu");
    }

    &>#layout-sidebar {
      grid-area: sidebar;
      overflow: hidden;
      --dynamic-min-width: 300px;
      --dynamic-max-width: 35vw;
    }

    @include meta.load-css("layout/sidebar");

    &>#layout-list {
      grid-area: list;
      overflow: hidden;
      --dynamic-min-width: 300px;
      --dynamic-max-width: 35vw;
    }

    @include meta.load-css("layout/list");

    &>#layout-content {
      grid-area: content;
      overflow: hidden;
    }

    @include meta.load-css("layout/content");

    &>#xsidebar {
      display: none;
    }
  }
}

body.task-mail.action-compose:not(:has(#layout-list)) {
  &>#layout {
    --column-width-sidebar: 1fr;
    --column-width-content: 2fr;
    display: grid;
    grid-template:
      "menu    menu   " 8rem
      "content sidebar" auto / var(--column-width-content) var(--column-width-sidebar);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    #layout-menu {
      width: 100%;
      height: 100%;
      grid-area: menu;
      display: grid;
      grid-template:
        "logo       taskmenu  " 4.625rem
        "localmenu  localmenu " 1fr / 228px 1fr;
      @include meta.load-css("layout/headermenu");
    }

    #layout-sidebar {
      grid-area: sidebar;
      overflow: hidden;
      padding: 1rem;
      --dynamic-min-width: 300px;
      --dynamic-max-width: 35vw;
    }

    @include meta.load-css("layout/sidebar");

    #layout-list {
      display: none;
    }

    #layout-content {
      grid-area: content;
      overflow: hidden;
      padding: 1rem;

    }

    @include meta.load-css("layout/content/mail-compose");

  }
}

body.task-mail.action-show:not(:has(#layout-list)) {
  &>#layout {
    grid-template:
      "menu    menu    menu   " 8rem
      "content content content" auto / var(--column-width-sidebar) var(--column-width-list) var(--column-width-content);
  }
}

body.task-addressbook.action-add,
body.task-addressbook.action-edit,
body.task-addressbook.action-show {
  @include meta.load-css("layout/content/addressbook-show");
}

body.task-xcalendar {
  &>#layout {
    --column-width-sidebar: 1fr;
    --column-width-list: 1fr;
    --column-width-content: 1fr;
    display: grid;
    grid-template:
      "menu" 8rem
      "content" auto / 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &>#layout-menu {
      width: 100%;
      height: 100%;
      grid-area: menu;
      display: grid;
      grid-template:
        "logo       taskmenu  " 4.625rem
        "localmenu  localmenu " 1fr / 228px 1fr;
      @include meta.load-css("layout/headermenu");
    }

    &>#layout-sidebar {
      display: none;
    }

    @include meta.load-css("layout/sidebar");

    &>#layout-list {
      display: none;
      --dynamic-min-width: 300px;
      --dynamic-max-width: 35vw;
    }

    @include meta.load-css("layout/list");

    &>#xcalendar-app {
      grid-area: content;
      overflow: hidden;
    }



    @include meta.load-css("layout/xcalendar");
  }
}
body.task-elasticlogs:not(.task-login):not(.task-xcalendar):not(:has(#layout-list)) {
  &>#layout {
    --column-width-content: 1fr;
    display: grid;
    grid-template:
      "menu   " 8rem
      "content" auto / var(--column-width-sidebar);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    #layout-menu {
      width: 100%;
      height: 100%;
      grid-area: menu;
      display: grid;
      grid-template:
        "logo       taskmenu  " 4.625rem
        "localmenu  localmenu " 1fr / 228px 1fr;
      @include meta.load-css("layout/headermenu");
    }

    #layout-sidebar {
      display: none;
    }

    #layout-list {
      display: none;
    }

    #layout-content {
      grid-area: content;
      overflow: hidden;
      padding: 1rem;

    }

    @include meta.load-css("layout/content/elasticlogs");

  }
}
body.action-plugin-nexus_registered_setting {
  @include meta.load-css("layout/content/nexus_registered_setting");
}