@use "../fontawesome/fa";
@use "../global/mixins";
@use "sass:meta";

.formcontent,
.propform {
  &:not(.popupmenu) {
    width: 100%;
  }

  fieldset > legend,
  label {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--color-label);
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-input-border);
    border-radius: 2px;
    outline: none;
    line-height: 3;
    margin: 0.5rem 0 1.5rem 0;
    padding: 0 1rem;
    color: var(--color-input);

    &:active,
    &:focus {
      border-bottom-color: var(--color-input-border-focus);
    }
  }

  textarea.full {
    box-sizing: border-box;
    width: 100%;
    min-height: 4rem;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  select {
    appearance: none;
    background-color: var(--color-input-background);
    color: var(--color-input);
    border: 1px solid var(--color-input-border);
    border-radius: 2px;
    display: inline-block;
    height: 2.25rem;
    max-width: 40rem;
    margin-right: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 1.5rem;
    background: transparent url("/skins/sooma/images/drop-arrow-select.svg") center right no-repeat;

    &::picker-icon {
      color: var(--color-input-background);
    }
  }

  button {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    background-color: var(--color-btn-secondary-background);
    color: var(--color-btn-secondary);
    padding-left: 5rem;
    padding-right: 5rem;
    line-height: 2;
    outline: none;
    border: 1px solid transparent;
    transition: all .2s ease;
    font-size: 1.2rem;

    &:hover {
      background-color: hsl(from var(--color-btn-secondary-background) h s calc(l * 90%));
    }

    &.mainaction {
      background-color: var(--color-btn-primary-background);
      color: var(--color-btn-primary);
    }

    &[disabled] {
      opacity: 0.4;
    }
  }

  .forgot-password-link {
    display: block;
    text-align: center;
  }

  .form-instructions {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include meta.load-css("checkbox");
}

.formcontent>div:has(> .form-group.row),
div.formcontent:has(> .form-group.row) {
  display: table;
  width: 100%;

  &>.form-group.row {
    display: table-row;

    &>* {
      display: table-cell;
      vertical-align: middle;
    }
  }

  select {
    margin: 0;
    max-width: none;
  }
}

.row {
  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: calc(100% / 12 * 12);
  }
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  --button-horizontal-margin: 0.62rem;

  &>* {
    flex: 1;
  }

  &>.input-group-append,
  &>.input-group-prepend {
    flex: 0;

    a {
      color: inherit;
      text-decoration: none;
      margin: 0rem var(--button-horizontal-margin);
      padding: 0.5rem 0;

      &:hover,
      &:focus,
      &:focus-within,
      &:focus-visible,
      &:target,
      &:active,
      &:visited,
      &:link {
        color: inherit;
      }

      &.disabled {
        opacity: 0.5;
        cursor: default;
      }

      &.icon {
        font-size: 0;

        &::before {
          font-size: 1rem;
          @include fa.fa-icon();
          content: fa.fa-content(fa.$var-question);
          vertical-align: middle;
        }
      }
    }
  }
}

.select-menu[role="listbox"] {
  border-radius: 4px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  background-color: inherit;
  transition: opacity .2s ease;
  z-index: 1;

  &>ul>li {
    margin: 0.5rem;

    &>i.icon::before {
      @include fa.fa-icon();
      content: fa.fa-content(fa.$var-person);
      vertical-align: middle;

    }
  }
}

.formbuttons {

  button:not(.mainaction),
  .btn:not(.btn-primary) {
    @include mixins.button;
  }

  button.mainaction,
  .btn.btn-primary {
    @include mixins.primary-button;
  }
}