@use "../fontawesome/fa";

table.listing {
  width: 100%;

  &>tfoot>tr,
  &>thead>tr,
  &>tbody>tr,
  &>tr {

    &>th,
    &>td {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &:first-child {
        padding-left: 0.5rem;
      }

      &:last-child {
        padding-right: 0.5rem;
      }

    }

    &.selected>th,
    &.selected>td {
      font-weight: bold;

      a::before {
        color: var(--color-main);
        font-weight: normal;
      }
    }
  }

  &.iconized {

    &>thead>tr>th:first-child,
    &>tbody>tr>td:first-child,
    &>tfoot>tr>td:first-child {
      a {
        display: block;

        &::before {
          @include fa.fa-icon();
          margin-right: 1rem;
        }
      }

      &.contact a::before {
        content: fa.fa-content(fa.$var-user);
      }
    }
  }
}
.listing {
  li {
    font-weight: 400;
    color: var(--not-selected-color);
    background-color: var(--not-selected-background);

    &.selected {
      font-weight: 600;
      color: var(--selected-color);
      background-color: var(--selected-background);
    }

    a {
      text-decoration: none;
      color: inherit;
      padding: 0.5rem 0.5rem;
      display: block;

      &:hover,
      &:focus,
      &:focus-within,
      &:focus-visible,
      &:target,
      &:active,
      &:visited,
      &:link {
        color: inherit;
      }

      &::before {
        width: 16px;
        height: 18px;
        margin-right: 1rem;
        display: inline-block;
        background-repeat: no-repeat;
      }

    }

    &.addressbook {
      &.selected {
        color: inherit;

        a::before {
          color: var(--color-main);
        }
      }

      a::before {
        @include fa.fa-icon();
        content: fa.fa-content(fa.$var-address-book);
      }
    }

  }
}
.listing.iconized {
  li a::before {
    width: 16px;
    height: 18px;
    margin-right: 0.3rem;
    display: inline-block;
    background-repeat: no-repeat;
  }
}