@use "../fontawesome/fa";

#mailboxoptions-menu {

  a.folders::before,
  a.read::before,
  a.purge::before,
  a.expunge::before {
    @include fa.fa-icon();
    padding-right: 0.5rem;
  }

  a.folders::before {
    content: fa.fa-content(fa.$var-folders);
  }

  a.read::before {
    content: fa.fa-content(fa.$var-check);
  }

  a.purge::before {
    content: fa.fa-content(fa.$var-trash);
  }

  a.expunge::before {
    content: fa.fa-content(fa.$var-arrows-minimize);
  }
}

ul.menu {
  li a {
    display: block;
    padding: 0.5rem 1.15rem;
    font-size: 0.9rem;

    &::before {
      @include fa.fa-icon();
      content: " ";
    }

    &.selection::before {
      content: fa.fa-content(fa.$var-square);
    }

    &.select.all::before {
      content: fa.fa-content(fa.$var-asterisk);
    }

    &.select.page::before {
      content: fa.fa-content(fa.$var-page);
    }

    &.select.unread::before {
      content: fa.fa-content(fa.$var-envelope-circle-check);
    }

    &.select.flagged::before {
      content: fa.fa-content(fa.$var-bookmark);
    }

    &.select.invert::before {
      content: fa.fa-content(fa.$var-yin-yang);
    }

    &.select.none::before {
      content: fa.fa-content(fa.$var-xmark);
    }

    &.print::before {
      content: fa.fa-content(fa.$var-print);
    }

    &.import::before {
      content: fa.fa-content(fa.$var-file-import);
    }

    &.download::before {
      content: fa.fa-content(fa.$var-file-export);
    }

    &.edit::before {
      content: fa.fa-content(fa.$var-pencil);
    }

    &.source::before {
      content: fa.fa-content(fa.$var-code);
    }

    &.move::before {
      content: fa.fa-content(fa.$var-clone);
    }

    &.copy::before {
      content: fa.fa-content(fa.$var-copy);
    }

    &.extwin::before {
      content: fa.fa-content(fa.$var-window);
    }

    &.forward.inline::before {
      content: fa.fa-content(fa.$var-quotes);
    }

    &.forward.attachment::before {
      content: fa.fa-content(fa.$var-paperclip);
    }

    &.forward.bounce::before {
      content: fa.fa-content(fa.$var-arrow-turn-left);
    }

    &.reply.all::before {
      content: fa.fa-content(fa.$var-people-group);
    }

    &.reply.list::before {
      content: fa.fa-content(fa.$var-users-rectangle);
    }

    &.read::before {
      content: fa.fa-content(fa.$var-envelope-open);
    }

    &.unread::before {
      content: fa.fa-content(fa.$var-envelope);
    }

    &.flag::before {
      content: fa.fa-content(fa.$var-bookmark);
    }

    &.unflag::before {
      content: fa.fa-content(fa.$var-bookmark-slash);
    }

    &.recipient::before {
      font-weight: 200;
      content: fa.fa-content(fa.$var-envelope);
    }


  }
}


.popupmenu {
  display: none;
  opacity: 0;
  z-index: 1;

  background-color: var(--color-popupmenu-background);
  color: var(--color-popupmenu-foreground);
  border-radius: 4px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0;

  a {
    text-decoration: none;

    &:hover {
      background-color: var(--color-popupmenu-hover-background);
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:target,
    &:active,
    &:visited,
    &:link {
      color: inherit;
    }
  }
}

// .popupmenu {
//   display: none;
//   padding: 0;
//   min-width: 180px;
//   height: 100%;

//   li>a {
//     width: 100%;
//   }

//   &.propform {
//     overflow: hidden;
//     padding: .25rem; // so overflow do not truncate focus outline on inputs
//   }

//   &.simplelist {
//     min-width: 80px;
//   }
// }

// .popup.justified {
//   display: flex;
//   justify-content: space-around;
// }

// .popover-body {
//   padding: 0;
//   overflow-x: hidden;

//   &>.popupmenu {
//     display: block !important;
//   }
// }

.select-menu {
  max-width: initial;
  margin: 0;
  height: auto;
  z-index: 1301; // above TinyMCE dialogs

  .popover-header {
    border-radius: .25rem .25rem 0 0 !important;
  }

  .listing li {
    a {
      padding-left: .25rem;
      outline: 0; // for Android browser
    }

    &:last-child {
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }
  }

  // Use 'inline' class for menus that have a list elements with no <a> inside
  // and no header
  &.inline {
    .listing li {
      padding-right: .5rem;

      &:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
      }
    }
  }
}