@use "../fontawesome/fa";

#password-restrictions {
  line-height: 1.4;

  &>li::before {
    @include fa.fa-icon();
    padding-right: 0.5rem;
    content: fa.fa-content(fa.$var-x);

  }

  &>li.valid::before {
    content: fa.fa-content(fa.$var-check);
    color: var(--color-success);
  }

}